
<form class="form-inline" [formGroup]="form">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2" formControlName="Name"  id="inlineFormInputName2" disabled>

  <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" formControlName="Email" class="form-control" id="inlineFormInputGroupUsername2" disabled>
  </div>


  <label class="sr-only" for="inlineFormInputGroupUsername2">Password</label>
  <div class="input-group mb-2 mr-sm-2">
    <input type="password" class="form-control" formControlName="Password"  id="inlineFormInputGroupUsername3">
  </div>

  <button type="submit" class="btn btn-primary mb-2" (click)="submitForm()">Submit</button>
</form>
