/* You can add global styles to this file, and also import other style files */

$buildPath: '';
$serverPath: $buildPath;
@font-face {
    font-family: 'SF';
    src: url('#{$serverPath}/assets/fonts/SF-Compact-Display-Bold.otf');
    src: url('#{$serverPath}/assets/fonts/Montserrat/SF-Compact-Display-Bold-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}